* {
    margin: 0;
    padding: 0;
}

nav
{
    background-color: #7952b3 !important;
}

.font-header
{
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
}

.pokeball
{
    width: 200px;
    text-align: center;
}

#poke-img
{
    width: 150px;
}

.skills{
    background-color: #7952b3;
}

.tombol-poke{
    background-color: #7952b3;
    color: white;
}

.tombol-liat{
    background-color: white;
    color: #7952b3;
    font-weight: bold;
    border: #7952b3 solid 2px;
}